@media (min-width: 576px)
{
    body{
        background-color: rgb(168, 160, 46);
    }
    
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li{
        float: right;
    }
    
    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        margin-right: 15px;
        text-decoration: none;
        font-size: 1.3em;
    }
    
    iframe{
        margin-top: 50px;
        margin-left: 200px;
        height: auto;
        width: auto;
    }
    
}


@media (min-width: 997px)
{
    body{
        background-color: rgb(168, 160, 46);
    }
    
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li{
        float: right;
    }
    
    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        margin-right: 15px;
        text-decoration: none;
        font-size: 1.3em;
    }
    
    iframe{
        margin-top: 50px;
        margin-left: 200px;
        height: 300px;
        width: 600px;
    }
    
}