@media (min-width: 576px)
{
    body{
        background-color: rgb(94, 53, 94);
    }
    
    p a{
        display: block;
        color: white;
        text-align: left;
        padding: 14px 16px;
        font-size: 1.3em;
        text-decoration: none;
    }

    h2{
        color: white;
        text-align: center;
    }
    
    iframe{
        margin-left: auto;
        height: 300px;
        width: 600px;
    }
    
}


@media (min-width: 997px)
{
    body{
        background-color: rgb(94, 53, 94);
    }

    
    p a{
        display: block;
        color: white;
        text-align: left;
        padding: 14px 16px;
        font-size: 1.3em;
        text-decoration: none;
    }

    h2{
        color: white;
        text-align: center;
    }
    
    iframe{
        margin-left: 200px;
        height: 400px;
        width: 800px;
    }

    div{
        margin-left: auto;
    }
    
}