body{
    background-color: rgb(180, 39, 161);
}

h1{
    color: white;
    text-align: center;
    margin-top: 90px;
}

article{
    margin: 1% auto;
    width: 60%;
}

p{
    color: white;
    font-size: 1.3em;
}